<h3>
    <div id="version_display_welcome"></div>
</h3>
<hr>
<h3>How to start chatting?</h3>
<ol>
    <li>Click <code><i class="fa-solid fa-plug"></i></code> and select a chat API </li>
    <li>Click <code><i class="fa-solid fa-address-card"></i></code> and pick a character</li>
</ol>
<hr>
<h3>Confused or lost?</h3>
<ul>
    <li>
        <span class="note-link-span"><a class="fa-solid fa-circle-question" target="_blank" href="https://docs.sillytavern.app/"></a></span> - click these icons!
    </li>
    <li>
        Enter <code>/?</code> in the chat bar
    </li>
</ul>

<hr>

